html,body {
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	height: 15%;
}

div#main {
	width: 100%;
	height: 85%;
}

div#left {
	width: 65%;
	height: 100%;
	float: left;
}

div#right {
	width: 35%;
	height: 100%;
	float: left;
}

div#full_form {
	width: 60%;
	height: 35%;
	margin-left: 15%;
}

div#transactions {
	width: 60%;
	height: 65%;
	margin-left: 15%;
}

div#form_top {
	height: 20%;
	width: 100%;
}

div#signin,div#signup {
	width: 50%;
	height: 100%;
	text-align: center;
	float: left;
}

div#signin {
	background-color: rgb(230, 231, 232);

}

div#signup {
	background-color: white;
}

p {
	cursor: pointer;
}

input {
	width: 70%;
	margin-left: 15%;
	height: 22px;
}

form#first {
	display: block;
}

form#second {
	display: none;
}

div#searchBox {
	height: 20%;
	width: 100%;
}

div#searchContent{
	height: 80%;
	widt: 100%;
}


h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	color: #CF3822;
}




